streamlit

langchain
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface

faiss-cpu

sentence-transformers
transformers
torch

unstructured
beautifulsoup4
lxml
html5lib

requests
python-dotenv
